<div class="general_container">
<span class="strong">
<p><strong>FAQ</strong><span>
  <br><br>
  The answer is <strong>42</strong>. <br><br>
  <strong>Wait, so does beerfortextbooks actually buy back my textbooks? </strong></p>
<p> Not exactly. Currently we are set up as a site for aggregating buyback prices from over a dozen online vendors (TextbooksRUs, BetterWorldBooks, BookByte, etc). We simply show you which vendor has the highest buyback prices, and direct you to that vendor's web site so you can sell back your textbook directly. <br><br>
  <strong>Oh, that's disappointing; I wanted actual beer for my textbooks. </strong></p>
<p>Have no fear, we are actively working to implement that program. Soon, you will be able to walk into your neighborhood liquor store with your textbooks and walk out with enough beer to host a frat party.
  <br>
  Want us to come to your campus first? Let us know </p>
<p><strong>I sold my books to one of the vendors, but they haven't paid me yet.  </strong></p>
<p>The individual vendors are responsible for paying you for your textbooks and well as responding in a timely fashion to any emails you send them. We take every precaution to make sure only reputable vendors are listed on beerfortextbooks.com, so if a vendors is refusing to answer your emails, please let us know at questions@beefortextbooks.com. <br><br>
  <strong>I love the site, but my favorite beer is not listed. Can I request that it be added? </strong></p>
<p>Absolutely.  Just 
and send us your request. We will continually add the most popular beers.
<br><br>
<strong>My question is not listed. </strong>
<p>No problem. Just send us a quick email
  <here> and we will get back to you within 24 hours.
  <br><br>
</div>