<div id="wrapper"><!-- #wrapper -->
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
			  <li><a href="mailto:beerfortextbooks@gmail.com">Contact</a></li>
			  <li>|</li>
				<li><a href="/">Home</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
    
  <header><!-- header -->
		<a href="/"><img id="logo" src="images/logo.png" alt=""></a><!-- header image -->
	</header><!-- end of header -->
	
	<section id="main"><!-- #main content and sidebar area -->
	  
	  <% @merchants.each do |m| %>
	    <div id="beerlisting">
    	  <div class="merchantimage">
    	    <%= image_tag m["merchant_image"] %>
    	  </div>
    	  <div class="prices">
    	    <%= @prices[m["merchant_id"]]["kegs"].to_s + " kegs, " +
    		 		@prices[m["merchant_id"]]["cases"].to_s + " cases, " + 
    				@prices[m["merchant_id"]]["bottles"].to_s + " bottles" %>
    		</div>
    	  <div class="beerlink2">
    	    <%= link_to "Sell for Beer", m["link"], {:class => "beermelink2"} %>
    	  </div>
  	  </div>
	  <% end %>
	  
</section><!-- end of #main content and sidebar-->

  <footer>
		  <section id="footer-area">
  			<p align="center">&copy; 2011 <a href="#">beerfortextbooks.com</a></p>
  		</section><!-- end of footer-area -->
	</footer>
</div>
<!-- #wrapper -->