<div id="wrapper"><!-- #wrapper -->

	<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="mailto:beerfortextbooks@gmail.com">Contact</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
    
  <header><!-- header -->
		<img src="images/logo.png" alt=""><!-- header image -->
	</header><!-- end of header -->
  
	<section id="main"><!-- #main content and sidebar area -->


  <table>
  	<% @books.each do |b| %>
  		<tr>
  			<td><%= image_tag b["image"], {:class => "bookimage"} %></td>
  			<td class="booktitle"><%= b["title"] %></td>
  			<td class="beermelink"><a href="/beer_me?q=<%= b["isbn10"] %>"> Beer Me!</td>
  		</tr>
  	<% end %>
  </table>

</section><!-- end of #main content and sidebar-->
	
		<footer>
		<section id="footer-area">

		
					  <p align="center">&copy; 2010 <a href="#">beerfortextbooks.com</a></p>
			 

		</section><!-- end of footer-area -->
	</footer>
	
</div>
<!-- #wrapper -->