

	
	<section id="main"><!-- #main content and sidebar area -->
	 <p><%= flash[:notice ]%></p>
	<% @books.each do |b| %>
	  <div id="results_content" class="clearfix">
	    
	      <div class="bookimage"><%= image_tag b["image"], {:class => "bookimage"} %></div>
	      <div class="booktitle"><p><%= b["title"] %></p></div>
	      <div class="beerlink">
		
		<% if b["isbn10"].nil? %>
		<% b["isbn10"] = b["isbn13"] %>
		<% end %>
		
		<a class="beerme_results" href="<%= "/beer_me?q=" + b["isbn10"] + "&brand=" + @brand %>">Sell for Beer</a></div>
	    
	  </div>
	<% end %>
	  
  </section><!-- end of #main content and sidebar-->
