<div id="wrapper"><!-- #wrapper -->
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
			  <li><a href="mailto:beerfortextbooks@gmail.com">Contact</a></li>
			  <li>|</li>
				<li><a href="/">Home</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
	
  <header><!-- header -->  
		<a href="/"><img id="logo" src="images/logo.png" alt=""></a><!-- header image -->
	</header><!-- end of header -->
	
	<section id="main"><!-- #main content and sidebar area -->
	 <p><%= flash[:notice ]%></p>
	<% @books.each do |b| %>
	  <div id="results_content" class="clearfix">
	    
	      <div class="bookimage"><%= image_tag b["image"], {:class => "bookimage"} %></div>
	      <div class="booktitle"><p><%= b["title"] %></p></div>
	      <div class="beerlink"><a class="beermelink" href="/beer_me?q=<%= b["isbn10"] %>"> Beer Me!</a></div>
	    
	  </div>
	<% end %>
	  
  </section><!-- end of #main content and sidebar-->
	
	<footer>
	    <section id="footer-area">
				<p align="center">&copy; 2011 <a href="#">beerfortextbooks.com</a></p>
	    </section><!-- end of footer-area -->
  </footer>
</div>
<!-- #wrapper -->