
<div id="wrapper"><!-- #wrapper -->
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
    
    <header><!-- header -->
		<img src="images/b4t.png" alt=""><!-- header image -->
	</header><!-- end of header -->
	

	
	<section id="main"><!-- #main content and sidebar area -->
		
<div id="search">
<form action="/search" id="searchForm" method="get">
<div id="searchEntry">
<input name="q" type="search" class="aligncenter" id="searchBox" value="" autosave="com.beerfortextbooks.search" placeholder="Enter your query" results="10"/>
<div id="searchOptionsCtrl"></div>
</div>
<div id="searchButton">
<input type="submit" class="aligncenter" value="Search"/>
</div>
<p class="clearer"/>
</form>
</div>

	</section><!-- end of #main content and sidebar-->
	
		<footer>
		<section id="footer-area">

		
					  <p align="center">&copy; 2010 <a href="#">beerfortextbooks.com</a></p>
			 

		</section><!-- end of footer-area -->
	</footer>
	
</div><!-- #wrapper -->

