<div id="wrapper"><!-- #wrapper -->

	<nav><!-- top nav -->
		<div class="menu">
			<ul>
			  <li><a href="mailto:beerfortextbooks@gmail.com">Contact</a></li>
			  <li>|</li>
				<li><a href="/">Home</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
    
  <header><!-- header -->
		<a href="/"><img id="logo" src="images/logo.png" alt=""></a><!-- header image -->
	</header><!-- end of header -->
	

	
  <form method="get" id="searchform" action="/results">
    <fieldset class="search">
    	<input type="text" name="s" id="s" value="Text to be displayed here" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
    	<button class="btn" title="Submit Search">Search</button>
    </fieldset>
  </form>
	

	
	
	
	
	<footer>
  	<section id="footer-area">


  				  <p align="center">&copy; 2011 <a href="#">beerfortextbooks.com</a></p>
	 

  	</section><!-- end of footer-area -->
  </footer>
	
</div><!-- #wrapper -->