<div id="wrapper"><!-- #wrapper -->
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
			  <li><a href="mailto:beerfortextbooks@gmail.com">Contact</a></li>
			  <li>|</li>
				<li><a href="/">Home</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
    
  <header><!-- header -->
		<a href="/"><img id="logo" src="images/logo.png" alt=""></a><!-- header image -->
	</header><!-- end of header -->
	
	<p><%= flash[:notice ]%></p>
  
  <script type="text/javascript">
  	$(document).ready(function(){
      var opts =
        { align: 'top'
        , size: 128
        , labels: true
        , source: function(i){ return this.src.replace(/gif$/,'png'); }
        };
      $('#menu').jqDock(opts);
    });
  </script>

  <div class="steps">
  <ul id="description" class="clearfix">

  	<li id="pick"><h3>pick</h3><p>choose your favorite beer</p>
      <div id='page'>
        <div id='menu'>
          <img class="bottle" src='images/bottles/arcadia.png' name='arcadia' alt='' />
          <img class="bottle" src='images/bottles/becks.png' name='becks' alt='' />
          <img class="bottle" src='images/bottles/budlight.png' name='budlight' alt='' />
          <img class="bottle" src='images/bottles/coors.png' name='coors' alt='' />
          <img class="bottle" src='images/bottles/corona.png' name='corona' alt='' />
          <img class="bottle" src='images/bottles/guinness.png' name='guinness' alt='' />
          <img class="bottle" src='images/bottles/heineken.png' name='heineken' alt='' />
          <img class="bottle" src='images/bottles/keystone.png' name='keystone' alt='' />
          <img class="bottle" src='images/bottles/labatt.png' name='labatt' alt='' />
          <img class="bottle" src='images/bottles/miller.png' name='miller' alt='' />
          <img class="bottle" src='images/bottles/rollingrock.png' name='rollingrock' alt='' />
          <img class="bottle" src='images/bottles/samadams.png' name='samadams' alt='' />
        </div>
      </div>
    </li>
		
	  <li id="type"><h3>type</h3><p>give us your textbook isbn, title, author, or keyword.</p>
		<%= image_tag "arrow-read.png", {:id => "search_arrow"} %>
		</li>

    

    <li id="beer"><h3>beer</h3><p>get beer for your textbooks</p>
	<%= image_tag "arrow-up.png", {:id => "beer_arrow"} %></li>
	</ul>
	</div>

	
	<p><%= flash[:notice ]%></p>
	
  <form action="/results" method="GET">
    <div id="search-box-large">
      <input id="search-input-school" class="search-input-large ui-autocomplete-input" type="text" name="q" value="ISBN - Title - Keyword"/>
    </div>
		<input type="submit" value="Textbooks => Beer" />
  </form>

	
	<footer>
  	<section id="footer-area">
  		<p align="center">&copy; 2011 <a href="#">beerfortextbooks.com</a></p>
  	</section><!-- end of footer-area -->
  </footer>
</div><!-- #wrapper -->