<div id="wrapper"><!-- #wrapper -->
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
			  <li><a href="mailto:beerfortextbooks@gmail.com">Contact</a></li>
			  <li>|</li>
				<li><a href="/">Home</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
    
  <header><!-- header -->
		<a href="/"><img id="logo" src="images/logo.png" alt=""></a><!-- header image -->
	</header><!-- end of header -->
	
	<div id="description">
	  <p id="first">1st - type in textbook isbn, title, author, or keyword.</p>

    <p id="second">2nd - choose your favorite beer. "suggest beer."</p>

    <p id="third">3rd - BEER ME - sell your textbooks for beer money.</p>
	</div>
	
	
	<p><%= flash[:notice ]%></p>
	
  <form action="/results" method="GET">
    <div id="search-box-large">
      <input id="search-input-school" class="search-input-large ui-autocomplete-input" type="text" name="q" value="ISBN - Title - Keyword"/>
      <input class="search-submit" type="image" id="defaultsearch" src="images/search-submit.png" />
    </div>
  </form>

	
	<footer>
  	<section id="footer-area">
  		<p align="center">&copy; 2011 <a href="#">beerfortextbooks.com</a></p>
  	</section><!-- end of footer-area -->
  </footer>
</div><!-- #wrapper -->