
	
	
  
  <script type="text/javascript">
  	$(document).ready(function(){
      var opts =
        { align: 'top'
        , size: 128
        , labels: true,
		distance: 0
        , source: function(i){ return this.src.replace(/gif$/,'png'); }
        };
      $('#menu').jqDock(opts);

      $('#search-input-school').click(function() {
		$(this).val('');
	  })

	  $('.bottle').click(function() {
			$('#hidden').val($(this).attr('name'));
			$('.bottle').removeClass("selected");
			$(this).addClass("selected");
		});
    });
  </script>

  <div class="steps">
  <ul id="description" class="clearfix">

  	<li id="pick"><p>PICK YOUR CURRENCY</p>
      <div id='page'>
        <div id='menu'>
          <img class="bottle selected" src='images/bottles/budlight.png' name='bud' id='budlight' />
          <img class="bottle" src='images/bottles/coors.png' name='coors' id='coors' />
          <img class="bottle" src='images/bottles/corona.png' name='corona' id='corona' />
          <img class="bottle" src='images/bottles/heineken.png' name='heineken' id='heineken' />
          <img class="bottle" src='images/bottles/keystone.png' name='keystone' id='keystone' />
          <img class="bottle" src='images/bottles/miller.png' name='miller' id='miller' />
          <img class="bottle" src='images/bottles/samadams.png' name='sam_adams' id='samadams' />
        </div>
      </div>
    </li>
   

    <li id="beer">
	<%= image_tag "beer_girl.png", {:id => "beer_girl"} %></li>
	</ul>
	</div>
	
  <form action="/results" method="GET">
    <input id="hidden" type="hidden" name="brand" value="bud">
    <div id="search-box-large">
      <input id="search-input-school" class="search-input-large ui-autocomplete-input" type="text" name="q" value="ISBN - Title - Keyword"/>
      <input id="searchboxxx" class="home_submit" type="submit" value="Textbooks => Beer" /><br /><br /><br />
	  <p class="error"><%= flash[:notice ]%></p>
    </div>
  </form>

	

