<div id="wrapper"><!-- #wrapper -->
	<nav><!-- top nav -->
		<div class="menu">
			<ul>
			  <li><a href="mailto:beerfortextbooks@gmail.com">Contact</a></li>
			  <li>|</li>
				<li><a href="/">Home</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
    
  <header><!-- header -->
		<a href="/"><img id="logo" src="images/logo.png" alt=""></a><!-- header image -->
	</header><!-- end of header -->
	
	<p><%= flash[:notice ]%></p>
  
  <script type="text/javascript">
  	$(document).ready(function(){
      var opts =
        { align: 'top'
        , size: 128
        , labels: true
        , source: function(i){ return this.src.replace(/gif$/,'png'); }
        };
      $('#menu').jqDock(opts);

	  $('.bottle').click(function() {
			$('#hidden').val($(this).attr('name'));
			$('.bottle').removeClass("selected");
			$(this).addClass("selected");
		});
    });
  </script>

  <div class="steps">
  <ul id="description" class="clearfix">

  	<li id="pick"><p>pick your currency</p>
      <div id='page'>
        <div id='menu'>
          <img class="bottle selected" src='images/bottles/budlight.png' name='bud' id='budlight' />
          <img class="bottle" src='images/bottles/coors.png' name='coors' id='coors' />
          <img class="bottle" src='images/bottles/corona.png' name='corona' id='corona' />
          <img class="bottle" src='images/bottles/heineken.png' name='heineken' id='heineken' />
          <img class="bottle" src='images/bottles/keystone.png' name='keystone' id='keystone' />
          <img class="bottle" src='images/bottles/miller.png' name='miller' id='miller' />
          <img class="bottle" src='images/bottles/samadams.png' name='sam_adams' id='samadams' />
        </div>
      </div>
    </li>
   

    <li id="beer">
	<%= image_tag "beer_girl.png", {:id => "beer_girl"} %></li>
	</ul>
	</div>
	
	<p><%= flash[:notice ]%></p>
	
  <form action="/results" method="GET">
    <input id="hidden" type="hidden" name="brand" value="bud">
    <div id="search-box-large">
      <input id="search-input-school" class="search-input-large ui-autocomplete-input" type="text" name="q" value="ISBN - Title - Keyword"/>
<input id="searchboxxx" class="home_submit" type="submit" value="Textbooks => Beer" />
    </div>
    
		
  </form>

	
	<footer>
  	<section id="footer-area">
  		<p align="center">&copy; 2011 <a href="#">beerfortextbooks.com</a></p>
  	</section><!-- end of footer-area -->
  </footer>
</div><!-- #wrapper -->