<div class="general_container">
	<p><%= link_to "Karol gives a video talk about Beer For Textbooks", "http://kalamazoo.startupweekend.org/2011/03/26/team-5-beer-for-textbooks/" %>
	<p><%= link_to "Persian blogger talks about Beer For Textbooks", "http://freekeyboard.net/archives/4149" %></p>
	<p><%= link_to "Derek talking about how we built Beer For Textbooks", "http://www.garebaresoftware.com/blog/2011/03/reflection-and-advice-for-future-startup-weekenders/" %></p>
	<p><%= link_to "Mr. Furry Pants talks Beer For Textbooks", "http://www.mrfurrypants.com/2011/03/30/2299/" %></p>
</div>