<div class="general_container">
<h1><strong>Terms and Conditions:</strong></h1>
<p><strong>Terms and  Agreements</strong> <br>
  Please read  these terms and conditions carefully. Your use of this site, operated by Beerfortextbooks.com,  constitutes acceptance of the terms and conditions.<br>
  <br>
  <strong>Accuracy of  Information</strong><br>
  Book pricing, availability, condition, product specifications and other  information available on this Web site are captured via proprietary shopping  bots that are a reliable and accurate real-time information replication tool.  However, content is collected from publicly available sources and could contain  erroneous or incorrect information that beerfortextbooks.com will hold itself  harmless for replicating.<br>
  <br>
  While BeerforTextbooks.com  makes every effort to ensure that the information on this Web site is accurate,  we can make no guarantees or representations as to the accuracy or reliability  of any information provided on this site. BeerforTextbooks.com makes no  representation or warranties as to the accuracy of the book details information  including, Title, Author, Publisher, Date Published, Format, and Book Image for  any particular ISBN.<br>
  BeerforTextbooks.com  makes no guarantees or representations whatsoever with regard to any online  merchant, product or service collected via any real-time merchant listing and  presented to the online consumer. And the online consumer must acknowledge that  any reliance on guarantees or representations provided by any online merchant  shall be at the consumer's own risk.<br>
  <br>
  <strong>Links to Online  Merchants</strong><br>
  The links provided by BeerforTextbooks.com to other sites on the Internet are  owned and operated by the online merchants or other third party E-commerce and  E-content providers. BeerforTextbooks.com is not responsible for and does not  guarantee the availability of, or the content located on or through, any  external site.<br>
  <br>
  <strong>Use of  Trademarks</strong><br>
  Beerfortextbooks, and other slogans used on the Web site are trademarks of BeerforTextbooks,  Inc. BeerforTextbooks.com makes no claim of ownership to the trademarks of any  online merchant whose online stores, products or services are listed on this  Web site. BeerforTextbooks.com makes no claim of ownership for any text,  phrases or statements, copy write information or not, through publisher or  publication that is cited on this Web site.<br>
  <br>
  <strong>No Endorsement</strong><br>
  Mention of online merchants, products or services, including the use of  trademarks or links to these online merchants, products or services is for  informational purposes only and constitutes neither an endorsement nor a  recommendation of those online merchants, products or services. In addition,  such use of trademarks or links to online merchants is not intended to imply,  directly or indirectly, that those online merchants are endorsed by or have  affiliation with BeerforTextbooks.com.<br>
  <br>
  <strong>Permitted Use of  Content</strong><br>
  Content or technology from BeerforTextbooks.com cannot be copied, modified,  redistributed, or published without the express permission of BeerforTextbooks.com  or the owners of the content if other than BeerforTextbooks. BeerforTextbooks.com  provides this information without charge for non-commercial purposes only.  Content may be downloaded or copied from this Web site only for the  individual's own personal use provided that all copyright and other notices  contained in such content are maintained.<br>
  <br>
  <strong>Limitation of  Liability</strong><br>
  BeerforTextbooks.com shall not be held liable under any circumstances for any  incidental, consequential, direct, indirect or punitive damages arising out of  the use of or the inability of the use of this Web site, even if BeerforTextbooks.com  has been advised of the possibility of such damages. You expressly acknowledge  and agree that your use of BeerforTextbooks.com, and any services available on  the site, is at your sole risk and you also agree to indemnify and hold  harmless BeerforTextbooks,LLC. and its' employees, directors, partners, agents,  contractors, and shareholders from any and all claims arising out of use of the  BeerforTextbooks.com Web site and services.<br>
  <br>
  BeerforTextbooks.comInc.  shall not be held liable under any circumstances for any incidental,  consequential, direct, indirect or punitive damages arising out of the  unauthorized distribution of books, instructor's guides, or any other books,  materials, or references by third party sellers on BeerforTextbooks.com. BeerforTextbooks,  LLC prohibits distribution of unauthorized, illegal, or stolen merchandise on  the BeerforTextbooks.com Web site and any distribution of such materials is the  sole responsibility of the third party sellers. By using the BeerforTextbooks.com  Web site, you agree to release and hold harmless BeerforTextbooks.com Inc. and  it's shareholders, directors, officers, employees, and agents from any  liability arising from items offered for sale on BeerforTextbooks.com</p>
<br>
<br>

</div>