
<div class="general_container">
  <br><br>
  <p><span id="internal-source-marker_0.3550660968758166"><strong>Founding</strong></span> <br><br>
    BeerforTextbooks.com started as a 60 second pitch at <a href="http://kalamazoo.startupweekend.org/">Start Up Weekend Kalamazoo</a> in March 2011.  A team was assembled and was tasked with developing a business plan, designing and developing a web site, and delivering a functioning product over the course of a weekend. 54 hours, after a weekend of late nights and dozens of cups of coffee (and Mt. Dew), the team emerged victorious, wowing judges and spectators alike, with a functioning and market-ready service. <br>
    <br>
   <span id="internal-source-marker_0.3550660968758166"><strong>Mission</strong>
   Bookstore buyback prices suck. So why not find better buyback prices online? BeerforTextbooks aggregates 	buyback prices from over a dozen online vendors, allowing you to see who will pay you the most beer money for your textbooks.
<br><br>
Although we currently operate solely as an affiliate site, allowing other vendors to buy back your textbooks, we are actively working on launching an actual "beer for textbooks" program, which will allow you to walk into your neighborhood liquor store with your books, and walk out with beer. 
<br><br>
Stay tuned for future updates!
<br><br>
    <br>
    <strong>About the Team</strong><br>
    <br>
    Derek Hopper <a href="http://twitter.com/#!/@derekjhopper">@derekjhopper</a> is a badass developer. When he's not hacking, you can find him yelling during Packers' games, browsing Hacker News, and generally being an awesome dude.
    <br>

    <br>
    Matt Sornson <a href="http://twitter.com/#!/@mattsornson">@mattsornson</a> is a former latte slinger, and an aspiring entrepreneur. Tries out many hats, and one or two of them are starting to fit. In his free time he sails and takes naps with his puppy.</p><br>
  <br>
  <p>Karol Grzesiak <a href="http://twitter.com/#!/@kgrzesiak">@kgrzesiak</a> has been a serial entrepreneur of textbooks companies for the past five years. He enjoys pina coladas, long walks on the beach and saving students money on their textbooks.<br>
    <br><br>
    </p>
  <div id="abw">
    <div id="abm">
      <div id="abc">
        <div id="articlebody"></div>
      </div>
    </div>
  </div>
</div>
